/* .quick_links{
    display: flex;
    gap: 50px;
    width: 100%;
    padding-left: 20%;
    word-spacing: 10px;
    letter-spacing: 1px;
    padding-top: 8%;
    color: white;
}
.footer{
    background-color: rgb(10, 152, 223);
}
.heading{
   padding-bottom: 40px;
   position: relative;
}
.last{
    color: white;
    margin-top: 5vh;
    text-align: center;
}
.icon{
    font-size: xx-large;
    color: var(--bg-color);
    transition: transform 1s;
}
.icon:hover{
    transform: scale(1.5);
    text-shadow: 1px 1px 5px white;
}
.heading::before{
    content:'';
    background-color: var(--bg-color);
    border: 1px solid;
    height: 2px;
    width: 5vw;
    position: absolute;
    top: 55%;

}
.move:hover{
    transition: transform 1s;
    transform: translate(10px,0px);
    text-shadow: 1px 1px 5px white;
}
.form_outline{
    margin: 2vw;
    padding: 2vw;
    border-radius: 10px;
    border: 2px solid blue;

}
@media screen and (max-width:430px) {
    .quick_links{
        display: block;
    }
   
}
    
*/

#form{
    margin: 3vw;
}
 /* Basic Styling */
.footer {
    background-color:#4A628A;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-section {
    margin: 10px;
}

.footer-logo {
    max-width: 100px;
}

.footer-text {
    font-size: 1rem;
    margin-top: 10px;
}

.social-icon {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.social-icon:hover {
    color: #aaa;
}

.footer-bottom {
    margin-top: 15px;
    font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        font-size: 16px;
    }
}