a{
    text-decoration: none;
}
*{
    box-sizing: border-box;

}
body{
    margin: 0;
}
.search_buses{
    /* background-image: url('./bac2.jpg');
    background-size: contain; */
    /* background-repeat: no-repeat; */
    height: 63vh;
    background-color: #4A628A;
}
.book,.fast{
    color: #DFF2EB;
}

.find,.from,.to,.date{
    color:#4A628A;
    
    font-weight: bolder;
}
.bluebus{
    color: blue!important;
}
.offers{
    border: 2px solid #4A628A;
    height: 54vh;
    width: 100%;
    /* position: relative;
    left:15vw; */
    margin: 5px;
    margin-bottom: 5vh;
    border-radius: 10px;
    background-color: #4A628A;
}
#body_part{
    position: relative;
    top: 11vh;
}
.offer_advertise{
    color: white;
    text-align: center;
}
.qr{
    border: 2px solid;
    height: 60vh;
    width: 100%;
    border-radius: 10px;
    /* position: relative;
    left: 12vw; */
    /* background-image: url('./bag_image.jpg'); */
    background-color: #7AB2D3;
    background-size: cover;
    color: WHITE;
    padding: 3vw;
}
.enjoy{
    display: flex;
    gap: 1vw;

}
.rating{
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    /* padding: 10px; */
    /* padding: 0 5px 5px 0; */
}
#bus-search-form{
    background-color:#DFF2EB ;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: 10vh;
   
}
.nav-tabs .nav-link.active {
    border-bottom: 2px solid red;
    color: red;
}
#faq{
    position: relative;
    top: 20vh;
}
.faq-item {
    border: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
}
.faq-question {
    font-weight: bold;
}
.faq-answer {
    display: none;
    margin-top: 10px;
}
.rating,.download,.scan{
    margin: 2VW;
}
label{
    font-size: 32px;
}
.no-bus {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffe6e6; /* Light red background */
    color: #d9534f; /* Red text */
    border: 2px solid #d9534f; /* Red border */
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* .quick_links{
    display: flex;
    gap: 50px;
    width: 100%;
    padding-left: 20%;
    word-spacing: 10px;
    letter-spacing: 1px;
    padding-top: 8%;
    color: white;
}
.footer{
    background-color: rgb(10, 152, 223);
}
.heading{
   padding-bottom: 40px;
   position: relative;
}
.last{
    color: white;
    margin-top: 5vh;
    text-align: center;
}
.icon{
    font-size: xx-large;
    
    transition: transform 1s;
}
.icon:hover{
    transform: scale(1.5);
    text-shadow: 1px 1px 5px white;
}
.heading::before{
    content:'';
   
    border: 1px solid;
    height: 2px;
    width: 5vw;
    position: absolute;
    top: 55%;

}
.move:hover{
    transition: transform 1s;
    transform: translate(10px,0px);
    text-shadow: 1px 1px 5px white;
} */
/* Basic Styling */
.footer {
    background-color: #4A628A;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    top: 25vh;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-section {
    margin: 10px;
}

.footer-logo {
    max-width: 100px;
}

.footer-text {
    font-size: 1rem;
    margin-top: 10px;
}

.social-icon {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.social-icon:hover {
    color: #aaa;
}

.footer-bottom {
    margin-top: 15px;
    font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        font-size:16px ;
    }
}
#logout_button{
    border: 2px solid;
    background-color: blue;
    color: white;
    padding: 1vh;
    border-radius: 10px;
}
#back{
    text-decoration: none;
    color: white;
}
/* .options{
    display: flex;
    gap: 1vw;
    justify-content: space-between;
    border: 2px solid;
    margin: 1vw;
    padding: 1vw;
    border-radius: 10px;
    background-color: #DFF2EB;
}
.options:hover{
    box-shadow: 2px 2px 10px;
    
} */
.options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    margin-bottom: 15px;
    transition: transform 0.2s ease-in-out;
}

.options:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.options p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.options #rating {
    background-color: lightgreen;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.options button {
    background: transparent;
    border: 2px solid red;
    color: red;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.options button:hover {
    background: red;
    color: white;
}

.layout_seats {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding: 10px;
    background: #DFF2EB;
    border-radius: 8px;
}
.caroImg{
    margin: 2vw;
    position: relative;
    left: 33vw;
    height: 200px; 
    width: 500px;
    text-align: center;
    border-radius: 10px;

}
#rating{
    border: 2px solid black;
    padding: 0.2vw;
    border-radius: 10px;;
    background-color: rgb(74, 235, 66);
   margin: 0;
    /* color: white; */
}
.no_bus{
    margin-top: 3vh;
    border-radius: 10px;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: xx-large;
}
.no_bus:hover{
    filter: drop-shadow(2px 2px 20px red);
    background-color: aqua;
}
.desham:hover{
    filter: drop-shadow(2px 2px 10px lightblue);
    
}
/* .layout_seats{
    border: 2px solid blue;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 10px;
    border-radius: 10px;
}
.layout_seats:hover{
    box-shadow: 2px 2px 10px aqua;
    background-color: aqua;
} */
 @media screen and (max-width: 1025px) {
    .caroImg{
        width: 300px;
        left: 31vw;
    }
 }
@media screen and (max-width:770px) {
    .date{
        margin-top: -8vh;
    }
    label{
        font-size: 16px;
    }
    .caroImg{
        width: 300px;
        left: 31vw;
    }
}
@media screen and (max-width:430px) {
    .caroImg{
        width: 250px;
        left: 20vw;
    }
    #bus_logo{
        width: 100px !important;
    }
    .search_buses{
        height: 83vh;
    }
    .qr{
        width: 100%;
        left: 0;
    }
    
    .quick_links{
        display: block;
    }
    .quick{
        font-size: 1rem;
    }
    .options{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-between;
        align-items: center;
        
    }
    .options p{
        margin: 10px;
    }
    #rating{
        width: 15vw;
        padding: 5px;
        height: 5vh;
    }
    .layout_seats{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 380px) {
    .caroImg{
        left: 15vw;
    }
}
@media screen and (max-width:320px) {
    .enjoy{
        display: block;
    }
    .qr{
        height: 600px;
    }
    .caroImg{
        width: 220px;
        left: 14vw;
    }
}